header{
  background-color:#F2D228;
  background-image: linear-gradient(160deg, #F35435 0%,#F2D228  94%);
}

ul{
    margin: 0;
    list-style-type: none;
    height: 100px;
    padding: 10px;
    overflow: hidden;
}

li {
    margin-top: 10px;
    float: left;
    padding: 15px;
    font-weight: bold;
    font-family: sans-serif;
    color: white;
    font-size: 20px;
}
.input-jugador{
    border-radius: 25px;
    background-color: white;
    font-size: 20px;
    color: #1A3AAD;
    border: none;
    text-align: center;
    width: 160px;
    font-weight: bold;
    font-family: sans-serif;
}
.imageUser{
    margin-top: -25px;
    border-radius: 50%;
    height: 80px;
    width: 80px;
    cursor: pointer;
}
/*//////////////////////////////*/
*
 {
  box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif !important;
    margin: 0px 0;
    background-color: #1A3AAD;
    background-repeat:no-repeat;
    background-size:cover;
    background-position: center;
    background-attachment: fixed;
    background-image: linear-gradient(160deg, #1A3AAD 0%, #3589EB 94%);
}
.container h1 {
    text-align: center;
    font-size: 5rem;
}
.container p {
    font-size: 2rem;
    margin-left: 50px;
}
.container button {
    margin-top: -5px;
    font-size: 20px;
    height: 40px;
    width: 120px;
    margin-left: 5px;
    background: #3589EB;
    color: white;
    border-radius: 25px;
    font-weight: bold;
    font-family: sans-serif;
    cursor: pointer;
}
.grid {
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    cursor: pointer;
  }
.card {
    position: relative;
    transition: all 0.3s linear;
    transform-style: preserve-3d;
    margin: 5px;
}
.card,
.back,
.front {
    height:240px;
  width: 150px;
}
.back,
.front {
    position: absolute;
    backface-visibility: hidden;
}
.front {
    border-radius: 12px;
    background: rgba(242, 173, 40, 1) url("../Img/cardFront.jpeg") no-repeat center center / contain;
}
.back {
    padding: 10px;
    border-radius: 12px;
    transform: rotateY(180deg);
    background-color: #dcf4f6;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}
.selected {
    transform: rotateY(180deg);
}
.match{
    transform: rotateY(180deg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}
.text{
    color: white;
}
.btnOnOffTree{
    display: flex;
    flex-direction: column;
    float: right;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    color: white;
    height: 80px;
    width: 80px;
    margin-top: -112px;
    margin-right: 17px;
    border-radius: 100px;
    box-shadow: 5px 10px 20px #000000;
    background-color: #FFE53B;
    background-image: linear-gradient(160deg, #FFE53B 0%, #FF2525 94%);
    cursor:pointer;
    border-color: rgba(213, 155, 9, 2);
  }
  .iconPlay-tree{
    /*background-image: url("./img/play.svg");*/
    width: 60%;
    align-items: center;
    margin-top: 22px;
    margin-left: 12px;
  }

@media (max-width:760px){
  .front, .back, .card{
    height: 96px;
    width: 68px;
    flex-shrink: 9;
    }
  .card{
    margin: 5px;
  }
  .grid{
    justify-content: space-around;
    margin: 17px;
    margin-top: 5px;
    align-items: stretch;
  }
  div.back{
    color: transparent;
  }
  .input-jugador{
    width: 115px;
  }
  ul{
    display: flex;
    text-align: center;
    text-align: center;
    margin-inline-start: -40px;
    margin-inline-end: 95px;
    padding-inline-start: 42px
  }
  header{
    background-color:#F2D228;
    background-image: linear-gradient(160deg, #F35435 0%,#F2D228  94%);
  }
  .container button{
    width: 80px;
    height: 80px;
    border-radius: 100px;
    margin-top: -25px;
    font-size: 12px;
    font-weight: bold;
    box-shadow: 5px 10px 20px #000000;
    border-color: rgba(213, 155, 9, 2);

  }
}

@media (max-height:450px){
  .front,.back, .card{
    height: 96px;
    width: 68px;
    flex-shrink: 9;
    }
    .card{
      margin: 5px;
    }
    .grid{
      justify-content: space-around;
      margin: 17px;
      margin-top: 5px;
    }
    div.back{
      color: transparent;
    }
    ul{
      display: flex;
      text-align: center;
      text-align: center;
      margin-inline-start: -40px;
      margin-inline-end: 95px;
      padding-inline-start: 42px
    }
    header{
      background-color:#F2D228;
      background-image: linear-gradient(160deg, #F35435 0%,#F2D228  94%);
    }
    .container button{
      width: 80px;
      height: 80px;
      border-radius: 100px;
      font-size: 12px;
      font-weight: bold;
      margin-top: -25px;
      box-shadow: 5px 10px 20px #000000;
      border-color: rgba(213, 155, 9, 2);
    }

}
