
ul{
    list-style-type: none;
    margin:0;
    padding: 20px;
    overflow: hidden;
    background-color:#F2D228;
    background-image: linear-gradient(160deg, #F35435 0%,#F2D228  94%);

}

li {
    float: left;
    padding: 15px;
    font-weight: bold;
    font-family: sans-serif;
    color: white;
    font-size: 20px;
}
.input-jugador{
    border-radius: 25px;
    background-color: white;
    font-size: 20px;
    color: #1A3AAD;
    border: none;
    text-align: center;
    width: 160px;
    font-weight: bold;
    font-family: sans-serif;
}

/*//////////////////////////////*/
*
 {
  box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif !important;
    margin: 0px 0;
  /*  background: rgba(26, 58, 173, 1) !important;*/

    background-color: #1A3AAD no-repeat center ;
    background-size:cover;
    background-image: linear-gradient(160deg, #1A3AAD 0%, #3589EB 94%);
    

}

.container h1 {
    text-align: center;
    font-size: 5rem;
    
}

.container p {
    font-size: 2rem;
    margin-left: 50px;
}

.container button {
    margin-top: -5px;
    font-size: 20px;
    height: 40px;
    width: 120px;
    margin-left: 5px;
    background: #3589EB;
    color: white;
    border-radius: 25px;
    font-weight: bold;
    font-family: sans-serif;
    cursor: pointer;
}

.grid {
    max-width: 960px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    cursor: pointer;
  }

.card {
    position: relative;
    transition: all 0.3s linear;
    transform-style: preserve-3d;
    margin: 5px;

}

.card, 
.back, 
.front {
    height:240px;
    width: 150px;

}

.back, 
.front {
    position: absolute;
    backface-visibility: hidden;
}

.front {
    border-radius: 12px;
    background: rgba(242, 173, 40, 1) url("../Img/cardFront.jpeg") no-repeat center center / contain;
}

.back {
    padding: 10px;
    border-radius: 12px;
    transform: rotateY(180deg);
    background-color: #dcf4f6;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.selected {
    transform: rotateY(180deg);
}

.match{
    transform: rotateY(180deg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}

.text{
    color: white;
}



.btnOnOffTree{
    display: flex;
    flex-direction: column;
    float: right;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 20px;
    text-align: center;
    color: white;
    height: 80px;
    width: 80px;
    margin-top: -112px;
    /*margin-left: 19px;*/
    margin-right: 17px;
    border-radius: 100px;
    box-shadow: 5px 10px 20px #000000;
    background-color: #FFE53B;
    background-image: linear-gradient(160deg, #FFE53B 0%, #FF2525 94%);
    cursor:pointer;
    border-color: rgba(213, 155, 9, 2);
  }
  .iconPlay-tree{
    background-image: url("./img/play.svg");
    width: 60%;
    align-items: center;
    margin-top: 22px;
    margin-left: 12px;
  }