body {
  background: url(img/FondoPantallaInicio.png) no-repeat center fixed;
  background-size: cover;
  
}


.gameLogotype{
  display: block;
  margin-right: auto;
  margin-left: auto;
  height: 400px;
  width: auto;
  margin-top: 200px;
}

.buttonProyect{
  background-color: #F35435;
  color: white;
  cursor: pointer;
  border-radius: 30px;
  margin-top: 40px;
  margin-bottom: 50px;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 28px;
  height:50px;
  width:230px;
  margin-left: 44%;
  border: none;
  }
