body {
margin: 0;
padding: 0;
background-image: url("img/FondoPantallaInicio.png");
background-repeat: no-repeat;
background-size: cover;
background-position: center;
background-attachment: fixed;
}

.btnOnOff{
  display: flex;
  flex-direction: column;
  float: right;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  color: white;
  height: 100px;
  width: 100px;
  margin-top: 38px;
  /*margin-left: 19px;*/
  margin-right: 25px;
  border-radius: 100px;
  border: none;
  box-shadow: 5px 10px 20px #000000;
  background-color: #FFE53B;
  background-image: linear-gradient(160deg, #FFE53B 0%, #FF2525 94%);
  cursor:pointer;
}

.iconPlay{
  width: 60%;
  align-items: center;
  margin-top: 28px;
  margin-left: 16px;
}

.iconPause{
  background-image: url("img/mute");
  width: 60%;
  align-items: center;
  margin-top: 28px;
  margin-left: 16px;
}

/*.controlsAudioStart{
  diplay: flex;
  flex-direction: column;
  float: right;
  margin-left: 19px;
  margin-right: 19px;
  margin-top: 30px;
}

.musicStart{
  display: flex;
  flex-direction: column;
  background-color: inherit;
  border-radius: 100px;
  border: none;
  height: 130px;
  width: 130px;
  float: right;
  cursor: pointer;
  margin: 16px;
  margin-left: -44px;
}
.btnSound-on{
  display: flex;
  flex-direction: column;
  height: 130px;
  width: 130px;
  float: right;
  margin-top:19px;
  cursor: pointer;
}

.btnSound-off{
  background-image: url("botonApagarSonido.png");
  display: flex;
  flex-direction: column;
  height: 130px;
  width: 130px;
  float: right;
  margin-top:19px;
  cursor: pointer;
}*/

.welcome-user{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top:-19px;
  /*margin: 16px;*/
}

.game-logotype{
display: flex;
flex-direction: column;
align-items: center;
margin-right: auto;
margin-left: 115px;
margin-top: 360px;
/*margin-top: 40px;*/
position: fixed;
}

.logotype {
  width: 45%;
}

.button-welcome{
  background-color: #F35435;
  color: white;
  cursor: pointer;
  border-radius: 70px;
  /*border-radius: 30px;*/
  margin-top: 30px;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 40px;
  height: 70px;
  width: 320px;
  /*font-size: 32px;
  height: 50px;
  width: 230px;*/
  border: none;
}
